/*
daysEnum.forEach(function(dayOfWeek, idx){ %>
                                <%let currTime%>
                                <%meals.forEach(function(meal){ %>
                                    <%meal.days.forEach(function(day){%>
                                        <%if(i===1){%>
                                            <%currTime = j + 12%>
                                            <%if(k*15===0){%>
                                                <%currTime += '00'%>
                                            <%} else {%>
                                                <%currTime += `${k*15}`%>
                                            <%}%>
                                        <%} else {%>
                                            <%currTime = j%>
                                            <%currTime += `${k*15}`%>
                                        <%}%>
                                        <%if(currTime >= meal.startTime && currTime <= meal.endTime && dayOfWeek === day ){%>
                                            <%if(currTime===meal.startTime){%>
                                                <td bgcolor="#ADD8E6"><%=meal.event%></td>
                                            <%}else {%>
                                                <td bgcolor="#ADD8E6"><%=meal.event%></td>
                                            <%}%>
                                        <%} else {%>
                                            <td ></td>
                                        <%}%>
                            })})})%>
*/